<ul>
    {% if menu %}
        {% for item in menu.items.all %}
            <li>
                <a href="{{ item.get_url }}" {% if item == active_item %}class="active"{% endif %}>
                    {{ item.title }}
                </a>
                {% if item == active_item %}
                    <ul>
                        {% for child in item.children.all %}
                            <li>
                                <a href="{{ child.get_url }}">
                                    {{ child.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <p>Меню не найдено или пусто.</p>
    {% endif %}
</ul>
